/* general */

* {
  box-sizing: border-box;
}

main {
  width: 900px;
  margin: 6px auto;
}

.item {
  display: inline-block;
  width: 33%;
  height: 280px;
  position: relative;
}

img {
  width: 100%;
  height: 100%;
}

.seconda-sez {
  margin-top: 15px;
}

/* sconti */

.discount {
  position: absolute;
  top: 0;
  right: 0;
}

.discount.old {
  background-color: green;
}

.discount.new {
  background-color: red;
}

/* cuoricini */

.hearth {
  color: red;
  position: absolute;
  bottom: 0;
  right: 50%;
  font-size: 25px;
  transform: translateX(50%);
  z-index: -1;
}

.item:hover .hearth {
  z-index: 1;
}
